<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
		
		
	 <h:form id="formMalha">
			
				<fieldset>
				<legend>Dados da Ocorrencia</legend>
					
					<h:outputLabel value="Apelido" for="apelido"></h:outputLabel>
					<h:inputTextarea id="apelido" value="#{ocorrenciaBean.ocorrencia.apelido}"/>
		
					<h:outputLabel value="Tipo" for="tipo"></h:outputLabel>
					<h:inputTextarea id="tipo" value="#{ocorrenciaBean.ocorrencia.tipo}"/>
		
					<h:outputLabel value="Descricao" for="descricao"></h:outputLabel>
					<h:inputTextarea id="descricao" value="#{ocorrenciaBean.ocorrencia.descricao}"/>
		
					<h:outputLabel value="Latidude" for="latitude"></h:outputLabel>
					<h:inputTextarea id="latitude" value="#{ocorrenciaBean.ocorrencia.latitude}"/>
		
					<h:outputLabel value="Longitude" for="longitude"></h:outputLabel>
					<h:inputTextarea id="longitude" value="#{ocorrenciaBean.ocorrencia.longitude}"/>
		
					<h:inputHidden>
					</h:inputHidden>
		
					<h:commandButton value="Gravar" action="#{ocorrenciaBean.grava}"/>
					
				</fieldset>
				
				
			</h:form>
			
			
</h:body>
</html>